.copyright-footer {
  text-align: center;
  margin: 2rem auto;
}

div .partner {
    display: flex;
    justify-content: center;
}

.value-col {
    padding-left: 15rem;
    text-align: left;
}

.edit-col {
    padding-left: 45rem;
}

.space-between-rows td{
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.partner-logo {
    width: 150px;
    height: 150px;
}

.top-box-text {
    color: grey;
}

.low-box-text {
    color: orange;
}

.title {
    text-align: center;
}

.profile-title {
    text-align: center;
    font-size: 3.2em;
}

.profile-info {
    font-size: 1.5em;
}
