{% extends 'base.html' %}

{% block content %}

    <div class="row mt-5">
        <div class="col-lg-6 col-md-12">
            <h1>Plan name</h1>
            <h3>
                Description jsjakljfaj
                jafldjfkdsjfksjfkl;a;s
                fjlsjfklsdfj
                asjdklfjsk
                sajdfksjfklsjfl;sajf;s
            </h3>
            <p>Days to connect: 1 day</p>
            <table class="table">
                <tbody>
                <tr>
                    <th>Specification</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <th>Specification</th>
                    <td>Value</td>
                </tr>
                <tr>
                    <td>Specification</td>
                    <td>Value</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 col-md-12 ps-5">
            <div style="background-color: orange; height: 6rem; width: 60%">
                <h3 class="pt-3 ps-4 top-box-text">Plan name</h3>
                <h5 class="pt-2 ps-4 top-box-text">$10/mo.</h5>
            </div>
            <div style="background-color: grey; height: 12rem; width: 60%">
                <h4 class="pt-3 ps-4 low-box-text">Total price</h4>
                <h5 class="pt-2 ps-4 low-box-text">$10/mo.</h5>
                <div class="d-grid gap-2 col-6 mx-auto pt-4">
                    <button type="button" class="btn btn-success">Success</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}