{% extends 'base.html' %}

{% block content %}

    <div class="row mt-5">
        <div class="col-lg-6 col-md-12">
            <h1>{{ plan.name }}</h1>
            <h3>{{ plan.description }}</h3>
            <p>Days to connect: {{ plan.days_to_connect }}</p>
            {% if plan.service.slug == 'tv' %}
                {% include 'mainapp/tvplan_configurations.html' %}
            {% elif plan.service.slug == 'wireless' %}
                {% include 'mainapp/phoneplan_configurations.html' %}
            {% elif plan.service.slug == 'internet' %}
                {% include 'mainapp/internetplan_configurations.html' %}
            {% endif %}
        </div>
        <div class="col-lg-6 col-md-12 ps-5">
            <div style="background-color: orange; height: 6rem; width: 60%">
                <h3 class="pt-3 ps-4 top-box-text">{{ plan.name }}</h3>
                <h5 class="pt-2 ps-4 top-box-text">${{ plan.price }}/mo.</h5>
            </div>
            <div style="background-color: grey; height: 12rem; width: 60%">
                <h4 class="pt-3 ps-4 low-box-text">Total price</h4>
                <h5 class="pt-2 ps-4 low-box-text">${{ plan.price }}/mo.</h5>
                <div class="d-grid gap-2 col-6 mx-auto pt-4">
                    {% if is_ordered %}
                        <button class="btn btn-success">Already ordered</button>
                    {% else %}
                        <a href="{% if service_in_use %} {% url 'service_in_use_order' %}
                                 {% elif not user.is_authenticated %} {% url 'anonym_order' %}
                                 {% else %}{{ plan.get_order_page }} {% endif %}"
                                class="btn btn-success">Order</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}