{% extends 'base.html' %}

{% block content %}
    <h1 class="profile-title">My Account</h1>
    <table>
        <tbody>
            <tr>
                <td><h1>Name Surname</h1></td>
                <td class="edit-col">Edit</td>
            </tr>
            <tr>
                <td>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="profile-info">Phone</td>
                                <td class="value-col profile-info ">1234567890+</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td class="edit-col">Edit</td>
            </tr>
            <tr>
                <td>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="profile-info">Email</td>
                                <td class="value-col profile-info ">trololo@email.com</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td class="edit-col">Edit</td>
            </tr>
            <tr>
                <td>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="profile-info">Address</td>
                                <td class="value-col profile-info ">Somewhere OMG! Where is it?</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td class="edit-col">Edit</td>
            </tr>
            <tr>
                <td>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="profile-info">Password</td>
                                <td class="value-col profile-info">****************</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td class="edit-col">Edit</td>
            </tr>
        </tbody>
    </table>

{% endblock %}