{% extends 'base.html' %}

{% block content %}
    <h1 class="profile-title">My Account</h1>
    <table class="mt-5">
        <tbody>
        <tr>
            <td colspan="2"><h1>Name Surname</h1></td>
            <td class="edit-col"><a href="#">Edit</a></td>
        </tr>
        <tr class="space-between-rows">
            <td class="profile-info">Phone</td>
            <td class="value-col profile-info ">1234567890+</td>
            <td class="edit-col"><a href="#">Edit</a></td>
        </tr>
        <tr class="space-between-rows">
            <td class="profile-info">Email</td>
            <td class="value-col profile-info ">trololo@email.com</td>
            <td class="edit-col"><a href="#">Edit</a></td>
        </tr>
        <tr class="space-between-rows">
            <td class="profile-info">Address</td>
            <td class="value-col profile-info ">Somewhere OMG! Where is it?</td>
            <td class="edit-col"><a href="#">Edit</a></td>
        </tr>
        <tr class="space-between-rows">
            <td class="profile-info">Password</td>
            <td class="value-col profile-info">****************</td>
            <td class="edit-col"><a href="#">Edit</a></td>
        </tr>
        </tbody>
    </table>

{% endblock %}