{% extends 'base.html' %}

{% block content %}

    <h1 class="test">Available Plans</h1>
    <div class="filter-menu">
        <button type="button" class="btn btn-info btn-menu mb-2">Filtering</button>
        <div class="menu-content">
            <a href="{% url 'service_details' slug=service.slug %}?filter=name">a-z</a>
            <a href="{% url 'service_details' slug=service.slug %}?filter=-name">z-a</a>
            <a href="{% url 'service_details' slug=service.slug %}?filter=price">from cheap to expensive</a>
            <a href="{% url 'service_details' slug=service.slug %}?filter=-price">from expensive to cheap</a>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col"></th>

            <th scope="col">
                {% if service.slug == 'internet' %}
                    Download speed
                {% elif service.slug == 'tv' %}
                    Channels
                {% elif service.slug == 'wireless' %}
                    Amount of data
                {% endif %}
            </th>
            <th scope="col">Price</th>
            <th scope="col">Best for</th>
            <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody>
        {% for plan in service_plans %}
            <tr>
                <th scope="row">{{ plan.name }}</th>
                <td>
                    {% if service.slug == 'internet' %}
                        {{ plan.speed }}
                    {% elif service.slug == 'tv' %}
                        {{ plan.channels_amount }}
                    {% elif service.slug == 'wireless' %}
                        {{ plan.data_amount }}
                    {% endif %}
                </td>
                <td>${{ plan.price }}</td>
                <td>Best for coming soon</td>
                <td><a href="{{ plan.get_absolute_url }}">Check details</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
